// Styling for the masthead
header.masthead {
    text-align: center;
    color: white;
    background-image: url("#{$header-image}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(33, 37, 41, 0.7);
    .intro-text {
      padding-top: 150px;
      padding-bottom: 100px;
      .intro-lead-in {
        font-size: 15px;
        font-style: italic;
        line-height: 15px;
        margin-bottom: 15px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 30px;
        @include heading-font;
      }
    }
  }
  @media (min-width: 768px) {
    header.masthead {
      .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
        .intro-lead-in {
          font-size: 25px;
          font-style: italic;
          line-height: 25px;
          margin-bottom: 25px;
          @include serif-font;
        }
        .intro-heading {
          font-size: 40px;
          font-weight: 700;
          line-height: 40px;
          margin-bottom: 40px;
          @include heading-font;
        }
      }
    }
  }